#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(162, 171, 163);
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  position: relative;
  width: 100%;
}

.gat {
  width: 25%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
